
h1{
    color: blueviolet;
    text-align: center;
}
h2{
    color:blue;
    text-align: center;
}
.container{
background-color:skyblue;
border-radius: 20px;
}
.r{
    background-color: thistle;
}
.card-group{
   transition: 1s;
}
.card-group:hover{
    transform: scale(0.8,1.0);
}
.abc{
    background-color: rgb(66, 76, 87);
    color: aliceblue;
}
.btn:hover{
    border: 2px solid blue;
    color: green;
    background-color: green;
}
footer{
background-color: orangered;
text-align: center;
}